<%include file="/style.tmpl"/>
<h2> Breaches found for ${email} </h2>
<p>This is an automated email to inform you that your email address have been detected in a credential breach, please proceed to the services listed and change your passwords</p>
<p>For further information see ${admin}</p>

${body}

<p class="small">This electronic message is not affiliated with haveibeenpwned.com and has been generated using the Open Source software hibp_check. The source code is available from https://github.com/dugite-code/hibp_check<p>