<table class="tg">
  <tr>
    <th class="tg-0lax"><h3>${title}</h3></th>
    <th class="tg-0lax"><img class="logo" src="${logo}"></th>
  </tr>
  <tr>
    <td class="tg-1wig">Date:</td>
    <td class="tg-0lax">${date}</td>
  </tr>
  <tr>
    <td class="tg-0lax">Domain:</td>
    <td class="tg-0lax">${domain}</td>
  </tr>
  <tr>
    <td class="tg-0lax" colspan="2">${description}</td>
  </tr>
  <tr>
    <td class="tg-0lax">Categories:</td>
    <td class="tg-0lax">${categories}</td>
  </tr>
</table>
<hr>